
nav {

position: sticky;
background-color: #8080808c;
top:0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px 0 10px;
z-index: 1;

}

.pages{
    display:  flex;
    align-items: center;
    
}

ul {
    display:flex;
    list-style:  none;
    margin:0px;
}
li{
    display: inline-block;
    padding: 25px 10px 25px 10px;
    position: relative;
    

   
}

li:hover{
    color: white;
    cursor: pointer;
    background-color: #808080de;
}




.logo:hover{
    color: white;
    cursor: pointer;

}

input{
    height: 20px;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.dropdown {
    visibility: hidden;
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    flex-direction: column;
    padding-left: 0;

}

.dropdown li{
    background-color: #8080808c;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    
}

.dropdown li:hover {
background-color: #808080de;
}

.categories:hover > ul,
    ul li ul:hover{
    visibility:  visible;
}

#my-cart{
    position: relative;
}

#my-cart span{
    position: absolute;
    top: 20px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 0.6rem;
}


@media screen and (max-width: 600px) {
    

    
}



