
.loading-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loading{
    font-size: 3rem;
  }
  
  
  .body{
   
      padding-bottom: 30px;
    }
    
    #page-title{
      margin-top: 70px;
      margin-bottom: 70px;
      margin-left: 40px;
    }
    
     .container{
      padding: 0px 20px 0px 20px;
  
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap:10px;
    
    } 
    
    .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    width: 200px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
  
    }
  
  
    .card-img{
      height:100px;
      width: 80px;
      padding-top: 10px;
      
    }
  
    .button{
      position: absolute;
      bottom: 3%;
      width:100%;
      color: white;
      font-size: 1rem;
      background-color: #7f7ff7;
      border:none;
      border-radius: 5px;
      height: 50px;
    }
    
    .button:hover{
      cursor: pointer;
      background-color: #6868fc;
    }
     
  
    
    
     
  
    .price{
      background-color: transparent;
      padding: 5px;
      
      border: none;
      right: 5%;
      top: 0;
      font-weight: 600;
      border-radius: 10px;
    
    }
  
  .card-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .card-text h4{
    display: flex;
    align-items: center;
    gap: 4px;
  }
   
    
    