.cart-body{
    margin-left: 30px;
}
.cart-img {
    height: 100%;
    width: auto;
}

.cart-card {
    position: relative;
    height: 200px;
    margin-right:20px;
    padding: 10px;
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    border: 5px solid #c2bdbd70;
}

.cart-buttons{

    display: flex;
    gap: 10px;
position:absolute;
bottom: 20px;    
}

.cart-item-title{
    margin-top: 0px;
}

.quantity-buttons {
    height:2rem;
    width: 2rem;
    background-color: #7f7ff7;
    color: white;
    border: none;
}


.quantity-buttons:hover{
    cursor: pointer;
    background-color: #6868fc;
  }

  .remove-item {
    
    background-color: #7f7ff7;
    color: white;
    border: none;
}


.remove-item:hover{
    cursor: pointer;
    background-color: #6868fc;
  }
  
  