.cart-body{
    margin-inline: 30px;
    padding-bottom: 50px;
    min-height: 80vh;
    box-sizing: border-box;
}




.empty-cart-body{
    margin-left: 30px;
    padding-bottom: 50px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img {
    height: 100%;
    width: auto;
}

.cart-card {
    position: relative;
    height: 200px;
    padding: 10px;
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    border: 2px solid #c2bdbd70;
    border-radius: 10px;
}

.cart-buttons{

    display: flex;
    gap: 10px;
position:absolute;
bottom: 20px;    
border-radius: 10px;
}

.cart-item-title{
    margin-top: 0px;
}

.quantity-buttons {
    height:2rem;
    width: 2rem;
    background-color: #7f7ff7;
    color: white;
    border: none;
    border-radius: 10px;
}


.quantity-buttons:hover{
    cursor: pointer;
    background-color: #6868fc;
  }

  .remove-item {
    
    background-color: #7f7ff7;
    color: white;
    border: none;
    border-radius: 10px;
}


.remove-item:hover{
    cursor: pointer;
    background-color: #6868fc;
  }
  
.empty-cart{
    font-size: 1rem;   
    padding-inline: 1rem; 
    background-color: #7f7ff7;
    color: white;
    border: none;
    border-radius: 10px;
}
.empty-cart:hover{
    cursor: pointer;
    background-color: #6868fc;
  }

.total{
    display: flex;
    justify-content: space-between;
}