

.body{
 
    padding-bottom: 30px;
  }
  
  #page-title{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 40px;
  }
  
  .container{
    padding: 0px 20px 0px 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
  
  }
  
  /* .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 200px;
  border: 5px solid #c2bdbd70;
  overflow: hidden;
  padding: 5px;

  } */
  

  
   
  

 
  
  

  
  