

.body{
 
    padding-bottom: 30px;
  }
  
  #page-title{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 40px;
  }
  
  .container{
    padding: 0px 20px 0px 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
  
  }
  
  .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 200px;
  border: 5px solid #c2bdbd70;
  overflow: hidden;
  padding: 5px;

  }
  
  #price{
    background-color: white;
    padding: 5px;
    
    border: 1px solid grey;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 600;
  
  }
  
  
   
  #card-img{
    height:100px;
    width: 80px;
    padding-top: 10px;
    
  }

 
  
  
  #buy{
    position: absolute;
    bottom: 0px;
    width:100%;
    color: white;
    font-size: 1rem;
    background-color: #7f7ff7;
    border:none;
    height: 50px;
  }
  
  #buy:hover{
    cursor: pointer;
    background-color: #6868fc;
  }
  
  